h1,h2,h3,h4,h5,h6{
  font-family: 'montserrat', sans-serif;
  font-weight: 200;
  text-align: center;
}

.site{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(6, minmax(auto,auto));
  grid-gap: 5px;
  background-color: #fff;
  color: #333;
}

.header{
  display: grid;
  grid-column: 1/span 4;
  grid-row: 1;
  width:auto;
}

.main-area{
  display: grid;
  grid-column: 1 /span 4 ;
  grid-row: 2;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  text-align: center;
}

.information{
  display: grid;
  grid-column: 1/span 6;
  grid-row: 1;
  text-align: center;
  width: auto;
  font-size: 0.9em;
  font-family: 'montserrat', sans-serif;
  font-weight: 100;
  color: #333;
}

h1{
  font-weight: 400;
  font-size: 1.8em;
}

.projekt{
  display: grid;
  grid-column: 1/span 2;
  grid-row: 2;
  text-align: center;
  font-family: 'montserrat', sans-serif;
  font-weight: 100;
  color: #333;
  margin: 5px 0 0 15px;
  width: auto;
}

.urval{
  text-align: center;
  font-size: 1.2em;
  margin-left: 5em;
}

.bilder {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1/2;
  grid-gap:5px;
  grid-column-gap: 10px;
  grid-row:3/4;
  text-align: center;
  width: auto;
  margin-left: 5em;
}

.bild{
  width:100%;
  max-width: 1500px;
}


.bild:hover{
  opacity: 0.5;
}

aside{
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column:4;
  grid-row:2/3;
  margin-top: 280px;
  margin-right: 7em;
}

.kontakt{
  display: grid;
  grid-template-columns: 1fr;
  width: auto;
}

.rubrik{
  font-family: "montserrat", sans-serif;
  font-weight:200;
  text-align: center;
  padding: 1em 0 2em 0;
  text-decoration: none;
}

.info{
  font-family: "montserrat", sans-serif;
  font-weight: 200;
  text-align: center;
  margin:-1.5em 1em;
}

.planerade{
  text-align: center;
  width: auto;
  font-size: 0.8em;
  font-weight: 100;
  color: #333;
}

.tidigare{
  text-align: center;
  width: auto;
  font-size: 0.8em;
  font-weight: 100;
  color: #333;
}

.uppgifter{
  text-align: center;
  width: auto;
  font-size: 0.8em;
  font-weight: 100;
  color: #333;
  margin-top: 3em;
}

.social{
  margin-top: 3em;
}

.fb:hover{
  opacity:0.5;
}

.insta:hover{
  opacity:0.5;
}

.facebook:hover{
  opacity: 0.5;
}

.instagram:hover{
  opacity: 0.5;
}

p{
  line-height: 125%;
}


a:link {
  text-decoration: none;
  color: #333;
}

a:visited {
  text-decoration: none;
  color: #333;
}

a:link:hover{
  text-decoration: underline;
}
