.konstnar p{
    grid-column:1/2;
    grid-row:1;
    font-size: 1em;
    letter-spacing: 0.6pt;
    line-height: 1.5em;
    text-align: justify;
}
.annica{
  grid-column: 2/2;
  grid-row:1;
  width: 100%;
  min-width: 200px;
  padding: 20px;
}


.konstnar{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 2;
}

h1{
 color: black;
 text-align: center;
 font-family: 'Amatic SC', cursive;
 font-size: 65px;
}

.alster{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(1, minmax(auto,auto));
  grid-gap:4em 1em;
  grid-row:3;
}

.foto{
  grid-column:1/3;
  grid-row:1;
  width:50%;
  min-width: 150px;
}


