body{
  font-family: 'montserrat', sans-serif;
  font-size: 0.9em;
  background-color: #fff;
}

.slide-show {
}

header{
  font-size: 3em;
  font-family: 'montserrat', sans-serif;
  color: #fff;
  margin: auto;
  text-align: center;
}

#header{
  border: 0;

}

h1,h2,h3,h4,h5,h6{
  color: #000;
  font-family: 'montserrat', sans-serif;
  font-weight: 100;
  

}


.site{
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #fff;
  color: #333;
}

.nested{
  display: grid;
  grid-template-columns: auto;
  grid-auto-columns: minmax(10px,auto);
}

.box{
  border-radius: 5px;
  padding: 15px;
  font-size: 120%;
}

.header{
  grid-column: 1/span 5;
  grid-row: 1;
}

.valkommen{
	display: grid;
	grid-column: 1/4;
	grid-row: 2;
	text-align: center;
	width: auto;
	line-height: 1.4;
	font-size: 1.8em;
	font-family: 'montserrat', sans-serif;
	font-weight: 100;
	color: #333;
  padding: 3em 0 0 0;
  margin:-2em;
}

.main-area{
  grid-column: 1/5;
  grid-row: 2;
}

.footer{
  display: grid;
  grid-column: 1/span 5;
  grid-row: 5;
  width: 100%;
  background-color: white;
  color: #898989;
  text-align: center;
  font-size:0.8em;
}

p{
  font-size: 1.2em;
  letter-spacing: 0.3pt;
  line-height: 1em;
	text-align: center;
}

nav ul li{
  display: inline;
  margin: 0.2em;
  text-align: center;
  color: black;
}

nav{
  font-family: 'montserrat', sans-serif;
  font-size: 1em;
  font-weight: 200;
  text-align: center;
  margin:auto;
	padding: 5px;
}

li a, .dropbtn{
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:Hover, .dropdown:hover .dropbtn {
  background-color: lightgrey;
}

li.dropdown{
  display: inline-block;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color:rgb(237, 238, 239);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: rgb(237, 238, 239);
}

.dropdown:hover .dropdown-content {
  display: block;
}


/* Presentation av konstnarerna */

.presentation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(1, minmax(auto,auto));
  grid-gap:0em 1em;
  grid-row:3;
  grid-column:1/4;
  padding: 3em 0 0 0;
}

.presentation-annica {
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-template-rows:repeat(2, minmax(auto,auto));
  grid-column:1/2;
}
.presentation-annica a {
  text-decoration: none;
}
.presentation-annica a:hover {
  text-decoration: underline;
  color:grey;
}
.presentation-kajsa {
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-template-rows:repeat(2, minmax(auto,auto));
  grid-column:2/3;
}
.presentation-kajsa a {
  text-decoration: none;
}
.presentation-kajsa a:hover {
  text-decoration: underline;
  color:grey;
}
.presentation-lina {
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-template-rows:repeat(2, minmax(auto,auto));
  grid-column:3/4;
}
.presentation-lina a {
  text-decoration: none;
}
.presentation-lina a:hover {
  text-decoration: underline;
  color:grey;
}
.konstnarsbild {
  grid-column:1/3;
  grid-row:1;
  width:100%;
  min-width: 150px;
}
.konstnarsbild-2 {
  grid-column:1/2;
  grid-row:2;
  width:100%;
  min-width: 50px;
  margin:5px 0 0 0;
}

.artist-name-main {
  font-family: 'montserrat', sans-serif;
  font-size: 0.8em;
  font-weight:200;
  text-align: center;
  padding: 1em 0 2em 0;
  text-decoration: none;
}

.artist-info{
  grid-column:2/3;
  grid-row:2/3;
}
.artist-info-text {
  font-family: 'montserrat', sans-serif;
  font-size: 0.8em;
  font-weight: 200;
  text-align: center;
  margin:-1.5em 1em;
}

.fa {
  padding: 15px;
  font-size: 15px;
  width: 12px;
  text-decoration: none;
  margin: 70px 0px 0px 0px;
  border-radius: 50%;
}

.fa-facebook {
  display: inline-block;
  background: #125688;
  color: white !important;
}

.fa-instagram {
  display: inline-block;
  background: #125688;
  color: white !important;
}
